body{
	font-family: 'Fira Sans', sans-serif;
	font-weight:400;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: block;
}
.top {
    background-color: #17161f

}
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}

.float-left {
    float: left!important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.top .icon li a, .top .icons li a {
    color: #fff;
    font-size: 13px;
}
.top .icon li i, .top .icons li i {
    margin-right: 7px;
}
/* .header3 .top .icon li:first-child, .header3 .top .icons li:first-child {
    border-left: none;
}
.header3 .top .icon li:first-child {
    padding-left: 0;
} */

.top .icon li:first-child {
    padding-left: 0px;
}
.top .icon li, .top .icons li {
    padding: 15px;
    border-right: 1px solid #383838;
}


.list-inline > li {
    display: inline-block;
}

.float-right {
    float: right!important;
}
.top .icons li:first-child {
    border-left: 1px solid #383838;
}
.dropdown{
    position: relative;
}
header {
    background: white;
    padding: 38px 0;
}
header #logo{
    position: relative;
    text-align: center;
}
header #logo img {
    margin: -28px auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}



/* .col-lg-11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
} */
#menu {
    margin: 18px 0 0;
}
#menu .navbar {
    padding: 0px;
}
#menu .navbar {
    margin: 0;
    min-height: 0;
    border: 0px solid transparent;
}

/* .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
} */
.navbar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.menutext {
    display: none;
}

#menu .nav > li > a {
    background-color: transparent;
    color: #17161f;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 38px 15px 26px;
    line-height: 14px;
}

#menu .nav > li:last-child > a {
    padding: 15px 0 15px 26px;
}

#menu .nav > li > a:hover {
    color: #FF9900;
}
#menu .nav > li:nth-child(5) > a {
    margin-left: 240px;
}
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    background: #000;
}
.icon-bar a {
    text-align: center;
    color: #fff!important;
    font-size: 20px;

}
.bread-crumb {
    position: relative;
}
.bread-crumb img {
    width: 100%;
    min-height: 200px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.bread-crumb .matter {
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
    text-align: center;
}
.bread-crumb .matter h2 span {
    color: #FF9900;
    font-weight: 700;
}
.bread-crumb .matter h2 {
    color: #686868;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.bread-crumb .matter ul {
    margin: 0;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.bread-crumb .matter li {
    padding: 0px;
    text-transform: uppercase;
}
.bread-crumb .matter li a {
    color: #686868;
    font-size: 18px;
    font-weight: 500;
}
.organic {
    margin: 0 0 50px;
}
.commontop {
    margin: 80px 0 50px;
}
.organic .commontop h4 {
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
}
.organic .commontop h4, .chooseus .commontop h4, .team .commontop h4, .contactus .commontop h4 {
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
    margin: 0;
}
.icon_star_alt:before {
    content: "\e031";
}
.organic .commontop p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    color: #222;
    text-transform: capitalize;
}
.organic .des, .organic .des2 {
    margin: 0 0 30px;
    font-size: 14px;
    color: #686868;
}

.organic .des2 {
    margin: 0 22% 30px 0;
}
.organic .des, .organic .des2 {
    font-size: 14px;
    color: #686868;
}
.organic img {
    margin: 25px 0 0;
}


.organic .commontop h4{
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
}

.commontop h4 i {
    font-size: 20px;
    color: #FF9900;
    margin-right: 0px;
}
.chooseus {
    margin: 0 0 100px;
}





.chooseus.commontop p{
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    color: #222;
    text-transform: capitalize;

}
.chooseus .box ul {
    margin: 0;
    width: 50%;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.chooseus .box ul li:first-child {
    margin-left: 200px;
}
.chooseus .box ul li {
    padding: 0 0 90px;
    width: 66%;
}
.chooseus .box ul li img {
    float: left;
    margin: 10px 30px 0 0;
}
.commontop h4 i:nth-child(3) {
    margin-right: 20px;
}
.commontop h4 i {
    font-size: 20px;
    color: #FF9900;
    margin-right: 0px
}

.chooseus .box ul li h3 {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin: 0 0 20px;
}
.chooseus .box ul li {
    padding: 0 0 90px;
    width: 66%;
}
.chooseus .box ul li p {
    font-size: 13px;
    color: #686868;
    margin: 0;
    font-weight: 400;
}
.chooseus .box ul li:nth-child(2) {
    margin-left: 100px;
}


.chooseus .box ul li:last-child {
    padding: 0;
}
.chooseus .box ul li {
    width: 66%;
}
.team.back {
    background: #f7f7f7;
}
.team .commontop h4 {
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
}
.team .commontop p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    color: #222;
    text-transform: capitalize;
}

.team .box {
    margin-bottom: 80px;
    text-align: center;
}
.team .box img {
    margin: 0 auto 30px;
}
.team .box h3 {
    font-size: 18px;
    color: #363636;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 10px;
}
.team .box p {
    font-size: 16px;
    color: #666;
    margin: -5px -5px 9px;
    font-weight: 400;
}
























footer {
    background: #17161f;
    padding: 45px 0 0;
}

footer p {
    font-size: 14px;
    color: #eee;
    margin: 25px 0;
    line-height: 24px;
}
footer ul {
    margin: 0;
}
footer .contact li {
    padding: 0 0 14px;
}
footer li {
    font-size: 14px;
    color: #eee;
}
footer li a {
    font-size: 14px;
    color: #eee;
}
footer #newsletter {
    margin: 35px 0;
}
footer #newsletter .form-group {
    margin: 0;
}
ooter #newsletter .input-group {
    width: 100%;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
footer li a:hover {
    color: #FF9900;
}
/* .col-lg-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
} */
/* footer #newsletter .input-group input {
    width: 54%;
    height: 39px;
    font-size: 14px;
    border: 1px solid #424146;
    border-radius: 40px;
    padding: 8px 15px;
    color: #424146;
    background: #121117;
} */

footer h5 {
    color: #FF9900;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}



footer #newsletter .news {
    float: left;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: #FF9900;
    text-transform: uppercase;
    margin: 5px 20px 0 0;
}








footer .powered {
    background: #121117;
    margin: 40px 0 0;
    padding: 18px 0 17px;
}
footer .powered p {
    margin: 4px 0 0;
}
footer p {
    font-size: 14px;
    color: #eee;
    line-height: 24px;
}
ooter .powered p span {
    color: #FF9900;
}











/* .header3 .top .icon li a, .header3 .top .icons li a {
    color: #000;
    font-size: 13px;
}
.header3 .top .icon li:last-child, .header3 .top .icons li:last-child {
    border-right: none;
    padding-right: 0;
}
.header3 .top .icon li, .header3 .top .icons li {
    padding: 15px 25px;
}
.list-inline > li {
    display: inline-block;
}
.dropdown {
    position: relative;
}
.top .icon li i, .top .icons li i {
    margin-right: 7px;
}
.top .icons .dropdown-menu {
    margin: 14px 0 0;
    padding: 0;
    border-radius: 0 0 4px 4px;
    top: auto !important;
    left: auto !important;
    transform: none !important;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}
.header3 .top .currency li:first-child {
    padding-left: 25px;
}

.dropdown-submenu {
    position: relative;
}
.top .icons .currency .dropdown-menu li a {
    color: #000;
    padding: 0px;
}
.top .icons .dropdown-menu {
    margin: 14px 0 0;
    padding: 0;
    border-radius: 0 0 4px 4px;
    top: auto !important;
    left: auto !important;
    transform: none !important;
}
.header3 .top .icon li:last-child, .header3 .top .icons li:last-child {
    border-right: none;
    padding-right: 0;
}

.float-right {
    float: right!important;
}
.dropdown {
    position: relative;
}
.header3 .top .social li {
    padding: 0;
    border-right: none;
}
.header3 header {
    background: #fff;
    padding: 22px 0 21px;
}
.top .icons .login .dropdown-menu, .top .icons .cart .dropdown-menu {
    right: 0;
    left: auto;
    min-width: 270px;
}
.text-center {
    text-align: center!important;
}
.header3 .top .login li {
    padding: 15px;
}
.top .icons .login .dropdown-menu li:last-child {
    padding-right: 15px;
}
.header3 header {
    background: #fff;
    padding: 22px 0 21px;
}
.col-lg-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}
header #logo {
    position: relative;
    text-align: center;
}
.col-lg-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.header3 #menu {
    margin: 30px 0 0;
}
#menu .navbar {
    padding: 0px;
}
#menu .navbar {
    margin: 0;
    min-height: 0;
    border: 0px solid transparent;
}
.navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.col-lg-2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.header3 header #srch {
    padding: 0;
    margin: 20px 0 0;
}
header #srch {
    text-align: center;
    position: relative;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}
.header3 header #srch button {
    position: absolute;
    top: 7px;
    right: 0;
    color: #b9b9b9;
}
header #srch button {
    z-index: 22;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    padding: 8px 9px 5px;
}
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #000;
}
.icon-bar a {
    text-align: center;
    color: #fff!important;
    font-size: 20px;

}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel {
    background: none;
    margin: 0;
    width: 100%;
}
.abouttt {
    position: relative;
    min-height: 200px;
}
.col-lg-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
.header3 .about {
    box-shadow: 0px 2px 3px 3px rgb(225 225 225 / 20%);
    background: #fff;
    z-index: 2;
    position: absolute;
    top: -53px;
    padding: 50px;
    left: 15px;
    right: 15px;
}
.header3 .about h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin: 0 0 22px;
    line-height: 1.2;
}
.header3 .about p {
    font-size: 14px;
    font-weight: 400;
    color: #686868;
    margin: 0 5% 22px;
}
.header3 .about a {
    font-size: 14px;
    font-weight: 400;
    color: #FF9900;
    font-family: 'PT Serif', serif;
}
.header3 .about a i {
    vertical-align: middle;
} */
