numpy==1.19.1
pandas==1.1.0
flask==1.1.2
flask_script==2.0.6
flask_restplus==0.13.0
Werkzeug==0.16.1
pyodbc==4.0.30
requests~=2.22.0
setuptools~=44.0.0
Jinja2==3.0.3
itsdangerous==2.0.1
Flask-WTF==1.0.1
uuid==1.30