body{
	font-family: 'Fira Sans', sans-serif;
	font-weight:400;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: block;
}
.top {
    background-color: #17161f

}
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}

.float-left {
    float: left!important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.top .icon li a, .top .icons li a {
    color: #fff;
    font-size: 13px;
}
.top .icon li i, .top .icons li i {
    margin-right: 7px;
}
a{
    text-decoration: none;
}
.top .icon li:first-child {
    padding-left: 0px;
}
.top .icon li, .top .icons li {
    padding: 15px;
    border-right: 1px solid #383838;
}


.list-inline > li {
    display: inline-block;
}

.float-right {
    float: right!important;
}
.top .icons li:first-child {
    border-left: 1px solid #383838;
}
.dropdown{
    position: relative;
}
header {
    background: white;
    padding: 38px 0;
}
header #logo{
    position: relative;
    text-align: center;
}
header #logo img {
    margin: -28px auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}



/* .col-lg-11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
} */
#menu {
    margin: 18px 0 0;
}
#menu .navbar {
    padding: 0px;
}
#menu .navbar {
    margin: 0;
    min-height: 0;
    border: 0px solid transparent;
}

/* .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
} */
.navbar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.menutext {
    display: none;
}

#menu .nav > li > a {
    background-color: transparent;
    color: #17161f;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 38px 15px 26px;
    line-height: 14px;
}

#menu .nav > li:last-child > a {
    padding: 15px 0 15px 26px;
}

#menu .nav > li > a:hover {
    color: #FF9900;
}
#menu .nav > li:nth-child(5) > a {
    margin-left: 240px;
}
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    background: #000;
}
.icon-bar a {
    text-align: center;
    color: #fff!important;
    font-size: 20px;

}
.bread-crumb {
    position: relative;
}
.bread-crumb img {
    width: 100%;
    min-height: 200px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.bread-crumb .matter {
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
    text-align: center;
}
.bread-crumb .matter h2 span {
    color: #FF9900;
    font-weight: 700;
}
.bread-crumb .matter h2 {
    color: #686868;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.bread-crumb .matter ul {
    margin: 0;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.bread-crumb .matter li {
    padding: 0px;
    text-transform: uppercase;
}
.bread-crumb .matter li a {
    color: #686868;
    font-size: 18px;
    font-weight: 500;
}
.organic {
    margin: 0 0 50px;
}
.commontop {
    margin: 80px 0 50px;
}
.organic .commontop h4 {
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
}
.organic .commontop h4, .chooseus .commontop h4, .team .commontop h4, .contactus .commontop h4 {
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
    margin: 0;
}
.icon_star_alt:before {
    content: "\e031";
}
.organic .commontop p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    color: #222;
    text-transform: capitalize;
}
.organic .des, .organic .des2 {
    margin: 0 0 30px;
    font-size: 14px;
    color: #686868;
}

.organic .des2 {
    margin: 0 22% 30px 0;
}
.organic .des, .organic .des2 {
    font-size: 14px;
    color: #686868;
}
.organic img {
    margin: 25px 0 0;
}


.organic .commontop h4{
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
}

.commontop h4 i {
    font-size: 20px;
    color: #FF9900;
    margin-right: 0px;
}
.chooseus {
    margin: 0 0 100px;
}

.chooseus.commontop p{
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    color: #222;
    text-transform: capitalize;

}
.chooseus .box ul {
    margin: 0;
    width: 50%;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.chooseus .box ul li:first-child {
    margin-left: 200px;
}
.chooseus .box ul li {
    padding: 0 0 90px;
    width: 66%;
}
.chooseus .box ul li img {
    float: left;
    margin: 10px 30px 0 0;
}
.commontop h4 i:nth-child(3) {
    margin-right: 20px;
}
.commontop h4 i {
    font-size: 20px;
    color: #FF9900;
    margin-right: 0px
}

.chooseus .box ul li h3 {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin: 0 0 20px;
}
.chooseus .box ul li {
    padding: 0 0 90px;
    width: 66%;
}
.chooseus .box ul li p {
    font-size: 13px;
    color: #686868;
    margin: 0;
    font-weight: 400;
}
.chooseus .box ul li:nth-child(2) {
    margin-left: 100px;
}


.chooseus .box ul li:last-child {
    padding: 0;
}
.chooseus .box ul li {
    width: 66%;
}
.team.back {
    background: #f7f7f7;
}
.team .commontop h4 {
    margin: 0 0 20px;
}
.commontop h4 {
    font-size: 24px;
    font-weight: 800;
    color: #17161f;
    text-transform: uppercase;
}
.team .commontop p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    color: #222;
    text-transform: capitalize;
}

.team .box {
    margin-bottom: 80px;
    text-align: center;
}
.team .box img {
    margin: 0 auto 30px;
}
.team .box h3 {
    font-size: 18px;
    color: #363636;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 10px;
}
.team .box p {
    font-size: 16px;
    color: #666;
    margin: -5px -5px 9px;
    font-weight: 400;
}
footer {
    background: #17161f;
    padding: 45px 0 0;
}
footer p {
    font-size: 14px;
    color: #eee;
    margin: 25px 0;
    line-height: 24px;
}
footer ul {
    margin: 0;
}
footer .contact li {
    padding: 0 0 14px;
    font-size: 14px;
    color: #eee;
}
footer li a {
    font-size: 14px;
    color: #eee;
}
footer .contact li a i {
    color: #FF9900;
    margin-right: 1px;
}
footer #newsletter {
    margin: 35px 0;
}
footer #newsletter .form-group {
    margin: 0;
}
footer #newsletter .input-group {
    width: 100%;
}
footer #newsletter .input-group input {
    width: 54%;
    height: 39px;
    font-size: 14px;
    border: 1px solid #424146;
    border-radius: 40px;
    padding: 8px 15px;
    color: #424146;
    background: #121117;
}
footer #newsletter .news {
    float: left;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: #FF9900;
    text-transform: uppercase;
    margin: 5px 20px 0 0;
}
footer #newsletter .input-group .btn-news {
    background: #302e41;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    border-radius: 40px;
    margin-left: 20px;
    padding: 7px 30px;
}
footer h5 {
    color: #FF9900;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
footer li a {
    font-size: 14px;
    color: #eee;
}
footer hr {
    border-top: 2px solid #FF9900;
    width: 30px;
    margin: 15px 0 30px;
}
footer .powered {
    background: #121117;
    margin: 40px 0 0;
    padding: 18px 0 17px;
}
footer .powered p {
    margin: 4px 0 0;
}
footer p {
    font-size: 14px;
    color: #eee;
    line-height: 24px;
}
footer .powered p span {
    color: #FF9900;
}