body{
	font-family: 'Fira Sans', sans-serif;
	font-weight:400;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: block;
}
.top {
    background-color: #17161f;

}
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}
.float-left {
    float: left!important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.top .icon li a, .top .icons li a {
    color: #fff;
    font-size: 13px;
}
.top .icon li i, .top .icons li i {
    margin-right: 7px;
}
.top .icon li:first-child {
    padding-left: 0px;
}
.top .icon li, .top .icons li {
    padding: 15px;
    border-right: 1px solid #383838;
}
.list-inline > li {
    display: inline-block;
}
.float-right {
    float: right!important;
}
.top .icons li:first-child {
    border-left: 1px solid #383838;
}
.dropdown{
    position: relative;
}
header {
   background: center;
   padding: 38px 0;
}
header #logo{
    position: relative;
    text-align: center;
}
header #logo img {
    margin: -28px auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
#menu {
    margin: 18px 0 0;
}
#menu .navbar {
    padding: 0px;
}
#menu .navbar {
    margin: 0;
    min-height: 0;
    border: 0px solid transparent;
}
.menutext {
    display: none;
}
#menu .nav > li > a {
    background-color: transparent;
    color: #17161f;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 38px 15px 26px;
    line-height: 14px;
}

#menu .nav > li:last-child > a {
    padding: 15px 0 15px 26px;
}

#menu .nav > li > a:hover {
    color: #FF9900;
}
#menu .nav > li:nth-child(5) > a {
    margin-left: 240px;
}
#menu .topheading .dropdown-menu {
    min-width: 200px;
    left: -44%;
}
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9999;
    background: #000;
}
.icon-bar a {
    text-align: center;
    color: #fff!important;
    font-size: 20px;

}
.bread-crumb {
    position: relative;
}
.bread-crumb img {
    width: 100%;
    min-height: 200px;
}

.bread-crumb .matter {
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
    text-align: center;
}
.bread-crumb .matter h2 span {
    color: #FF9900;
    font-weight: 700;
}
.bread-crumb .matter h2 {
    color: #686868;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.bread-crumb .matter ul {
    margin: 0;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.bread-crumb .matter li {
    padding: 0px;
    text-transform: uppercase;
}
.bread-crumb .matter li a {
    color: #686868;
    font-size: 18px;
    font-weight: 500;
}
.mycart {
    margin: 50px 0;
}
.col-sm-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}
.mycart .listproducts {
    margin: 0 0 50px;
}
.mycart .listproducts thead td {
    background: #FF9900;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 30px;
}
.mycart .listproducts tbody td {
    padding: 50px 30px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 500;
    color: #686868;
    border-top: none;
    border-bottom: 1px solid #ccc;
}
.mycart .listproducts tbody td img {
    margin: 0 30px 0 0;
    float: left;
    border: 1px solid #F9F9F9;
    width: 100px;
    height: 100px;
}
.mycart .listproducts tbody td .name {
    color: #17161f;
    margin: 34px 0 0;
}
.qtypara {
    margin: 0;
    position: relative;
}
.qtypara .minus {
    height: 39px;
    font-size: 18px;
    position: absolute;
    color: #686868;
    cursor: pointer;
    padding: 5px 20px;
    background: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 20px 0 0 20px;
}
.qtypara .form-control {
    min-width: 179px;
    height: 39px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    display: inline-block;
    color: #686868;
    font-weight: 500;
    font-size: 15px;
    background: #F3F3F3;
    border: 1px solid #F3F3F3;
    box-shadow: none;
}
.mycart .listproducts .qtypara .add {
    right: 19%;
}
.qtypara .add {
    bottom: 0;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}
.mycart .listproducts tbody td:nth-child(4) {
    color: #FF9900;
}
.mycart .listproducts button {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 20px;
    color: #17161f;
}
footer {
    background: #17161f;
    padding: 45px 0 0;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
footer p {
    font-size: 14px;
    color: #eee;
    margin: 25px 0;
    line-height: 24px;
}
footer ul {
    margin: 0;
}
footer .contact li {
    padding: 0 0 14px;
    font-size: 14px;
    color: #eee;
}
footer .contact li a i {
    color: #FF9900;
    margin-right: 1px;
}
footer #newsletter {
    margin: 35px 0;
}
footer #newsletter .form-group {
    margin: 0;
}
footer #newsletter .input-group {
    width: 100%;
}
footer #newsletter .input-group input {
    width: 54%;
    height: 39px;
    font-size: 14px;
    border: 1px solid #424146;
    border-radius: 40px;
    padding: 8px 15px;
    color: #424146;
    background: #121117;
}
footer #newsletter .news {
    float: left;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: #FF9900;
    text-transform: uppercase;
    margin: 5px 20px 0 0;
}
footer #newsletter .input-group .btn-news {
    background: #302e41;
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    border-radius: 40px;
    margin-left: 20px;
    padding: 7px 30px;
}
footer h5 {
    color: #FF9900;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
footer li a {
    font-size: 14px;
    color: #eee;
}
footer hr {
    border-top: 2px solid #FF9900;
    width: 30px;
    margin: 15px 0 30px;
}
footer .powered {
    background: #121117;
    margin: 40px 0 0;
    padding: 18px 0 17px;
}
footer .powered p {
    margin: 4px 0 0;
}
footer p {
    font-size: 14px;
    color: #eee;
    line-height: 24px;
}
footer .powered p span {
    color: #FF9900;
}