USE [QLTP]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/2/2022 9:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[OldPrice] [int] NULL,
	[Price] [int] NULL,
	[TypeId] [int] NULL,
	[Vote] [int] NULL,
	[Image] [text] NULL,
	[DealImage] [text] NULL,
	[BigImage1] [text] NULL,
	[BigImage2] [text] NULL,
	[SmallImage1] [text] NULL,
	[SmallImage2] [text] NULL,
	[Description] [text] NULL,
	[NotChemical] [tinyint] NULL,
	[Organic] [tinyint] NULL,
	[FromFarm] [tinyint] NULL,
	[Deal] [tinyint] NULL,
	[FreeShip] [tinyint] NULL,
	[BestSell] [tinyint] NULL,
	[Feature] [tinyint] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [OldPrice], [Price], [TypeId], [Vote], [Image], [DealImage], [BigImage1], [BigImage2], [SmallImage1], [SmallImage2], [Description], [NotChemical], [Organic], [FromFarm], [Deal], [FreeShip], [BestSell], [Feature]) VALUES (2, N'Banana', 15, 10, 2, 4, N'images/products/image/2.png', N'images/products/deal/2.png', N'images/products/big1/2.png', N'images/products/big2/2.png', N'images/products/small1/2.png', N'images/products/small2/2.png', NULL, 1, 1, 1, 1, 1, 0, 1)
INSERT [dbo].[Product] ([Id], [Name], [OldPrice], [Price], [TypeId], [Vote], [Image], [DealImage], [BigImage1], [BigImage2], [SmallImage1], [SmallImage2], [Description], [NotChemical], [Organic], [FromFarm], [Deal], [FreeShip], [BestSell], [Feature]) VALUES (3, N'Broccoli', 15, 10, 1, 4, N'images/products/image/3.png', N'images/products/deal/3.png', N'images/products/big1/3.png', N'images/products/big2/3.png', N'images/products/small1/3.png', N'images/products/small2/3.png', NULL, 1, 1, 1, 1, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
