<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h1>Thông tin chi tiết mặt hàng </h1>
    <table>
        <tr>
          <th>Id</th>
          <th>1</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Tomato</th>
        </tr>
        <tr>
            <th>OldPricxe</th>
            <th>15</th>
        </tr>
        <tr>
            <th>Price</th>
            <th>10</th>
        </tr>
        <tr>
            <th>TypeId</th>
            <th>2</th>
        </tr>
        <tr>
            <th>Vote</th>
            <th>3</th>
        </tr>
        <tr>
            <th>Image</th>
            <th><img src="images/products/image/1.png" alt=""></th>
          </tr>
          <tr>
            <th>DealImage</th>
            <th><img src="images/products/deal/1.png" alt=""></th>
          </tr>
          <tr>
            <th>BigImage1</th>
            <th><img src="images/products/big1/1.png" alt=""></th>
          </tr>
          <tr>
            <th>BigImage2</th>
            <th><img src="images/products/big2/1.png" alt=""></th>
          </tr>
          <tr>
            <th>SmallImage1</th>
            <th><img src="images/products/small1/1.png" alt=""></th>
          </tr>
          <tr>
            <th>SmallImage2</th>
            <th><img src="images/products/small2/1.png" alt=""></th>
          </tr>
          <tr>
            <th>Description</th>
            <th><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum dolor.</p></th>
          </tr>
          <tr>
            <th>NotChemical</th>
            <th><input type="checkbox" id="chem" name="chem" disabled></th>
          </tr>
          <tr>
            <th>Organic</th>
            <th><input type="checkbox" id="org" name="org" disabled></th>
          </tr>
          <tr>
            <th>FromFarm</th>
            <th><input type="checkbox" id="farm" name="farm" disabled></th>
          </tr>
          <tr>
            <th>Deal</th>
            <th><input type="checkbox" id="deal" name="deal" disabled></th>
          </tr>
          <tr>
            <th>FreeShip</th>
            <th><input type="checkbox" id="ship" name="ship" disabled></th>
          </tr>
          <tr>
            <th>BestSell</th>
            <th><input type="checkbox" id="sell" name="sell" disabled></th>
          </tr>
          <tr>
            <th>Feature</th>
            <th><input type="checkbox" id="fea" name="fea" disabled></th>
          </tr>
    </table>
</body>
</html>