<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script>
        function del_prod(product_id) {
            $.ajax({
                url: '../admin/product',
                type: 'DELETE',
                data: JSON.stringify({id: product_id}),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var r = confirm("Deleted product " + product_id + " success !!!");
                    if (r === true) {window.location.reload();}
                }
            });
        }
    </script>
</head>
<body>
<h1>Quản lý danh mục sản phẩm</h1>
<h2> Bảng danh mục sản phẩm</h2>
<div class="buttons">
    <button class="btn-primary" type="button" onclick="location.href='new.html'"><i class="icon_cart"></i>New</button>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Detail</th>
        <th>Delete</th>
    </tr>
    {% for item in products %}
    <tr>
        <td>{{item['Id']}}</td>
        <td>{{item['Name']}}</td>
        <td><a href="detail?id={{item['Id']}}">Detail</a></td>
        <td>
            <button class="btn-primary" type="button" value="{{item['Id']}}" onclick="del_prod(this.value)"><i class="icon_cart"></i>Delete
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>