<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
<h1>Thêm mới sản phẩm</h1>
<div class="buttons">
    <button class="btn-primary" type="button" onclick="location.href='index'"><i class="icon_cart"></i>Back To Index</button>
</div>
<br/>

{% if "error" in message %}
    <script>alert('{{ message['error'] }}')</script>
{% elif "info" in message %}
    <script>alert('{{ message['info']}}')</script>
{% endif %}


<form id="addNewForm" method="POST" enctype="multipart/form-data" action="#">
    <table>
        <tr>
            <th>Name</th>
            <th>{{ form.name(size=20) }}</th>
        </tr>
        <tr>
            <th>OldPrice</th>
            <th>{{ form.old_price }}</th>
        </tr>
        <tr>
            <th>Price</th>
            <th>{{ form.price }}</th>
        </tr>
        <tr>
            <th>TypeId</th>
            <th>{{ form.type_id }}</th>
        </tr>
        <tr>
            <th>Vote</th>
            <th>{{ form.vote(size=1) }}</th>
        </tr>
        <tr>
            <th>Image</th>
            <th>{{ form.image }}</th>
        </tr>
        <tr>
            <th>DealImage</th>
            <th>{{ form.deal_image }}</th>
        </tr>
        <tr>
            <th>BigImage1</th>
            <th>{{ form.big_image_1 }}</th>
        </tr>
        <tr>
            <th>BigImage2</th>
            <th>{{ form.big_image_2 }}</th>
        </tr>
        <tr>
            <th>SmallImage1</th>
            <th>{{ form.small_image_1 }}</th>
        </tr>
        <tr>
            <th>SmallImage2</th>
            <th>{{ form.small_image_2 }}</th>
        </tr>
        <tr>
            <th>Description</th>
            <th>{{ form.description(rows=4, cols=50) }}</th>
        </tr>
        <tr>
            <th>NotChemical</th>
            <th>{{ form.chemical }}</th>
        </tr>
        <tr>
            <th>Organic</th>
            <th>{{ form.organic }}</th>
        </tr>
        <tr>
            <th>FromFarm</th>
            <th>{{ form.from_farm }}</th>
        </tr>
        <tr>
            <th>Deal</th>
            <th>{{ form.deal }}</th>
        </tr>
        <tr>
            <th>FreeShip</th>
            <th>{{ form.free_ship }}</th>
        </tr>
        <tr>
            <th>BestSell</th>
            <th>{{ form.sell }}</th>
        </tr>
        <tr>
            <th>Feature</th>
            <th>{{ form.feature }}</th>
        </tr>
    </table>
    <br/>
    <div class="buttons">
        <input type="submit" class="btn-primary" value="Create" />
        <input type="reset"  class="btn-primary" value="Refresh">
    </div>

    <br/>
    <br/>
</form>
</body>
</html>